.container {
	height: 100px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #000;
	padding: 10px;
	cursor: pointer;
}

.container:hover {
	background: #ddd;
}

.nameContainer {
	display: flex;
	align-items: baseline;
}

.name {
	font-size: 28px;
	padding-right: 5px;
}

.race,
.class {
	padding-right: 5px;
}

.stat {
	font-weight: bold;
}