.container {
  width: 100%;
  height: 100%;
  background: url('../../images/sword.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
}

.partyNameContainer {
	width: 500px;
	height: 100px;
	margin: auto;
}

.partyNameForm {
	margin: 0 auto;
}

.brand {
	margin: 0 auto;
	color: white;
	font-size: 3em;
}

.partyNameLabel {
	color: white;
	padding-right: 20px;
	font-size: 1.5em;
	opacity: 0.8;
}

.partyNameInput {
	opacity: 0.8;
}
